@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034,49038,49040,49042');          

:root {
    --dark-gray: #707070;
    --medium-gray: #888888;
}

body {
    background-color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    background-color: var(--dark-gray);
    color: #fff;
    padding-top: 4.3rem;
    padding-bottom: 8.75rem;
}

header h1 {
    font-size: 1.25rem;
}

header h2 {
    font-size: 2.5rem;
}

header p {
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-size: 0.875rem;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

header ul>li>button {
    margin-right: 2rem;
    padding: 16px;
    font-family: 'Helvetica 35 thin', sans-serif;
    color: var(--medium-gray);
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
}