@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --dark-gray: #707070;
  --medium-gray: #888888;
}

body {
  background-color: #fff;
  font-family: "Questrial", sans-serif;
}

header {
  margin-bottom: 30px;
}

#header-text {
  position: relative;
  text-align: center;
  color: #fff;
  padding-top: 23px;
  padding-bottom: 8.75rem;
}

#bg-header {
  position: absolute;
  top: -175px;
  left: -20px;
  width: 1400px;
  height: 500px;
  transform: rotate(7deg);
  background: var(--dark-gray) 0% 0% no-repeat padding-box;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

header h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

header p {
  font-family: "Questrial", sans-serif;
  font-size: 0.875rem;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

header ul > li > button,
button {
  margin-right: 2rem;
  padding: 16px;
  font-family: inherit;
  color: var(--medium-gray);
  background-color: #fff;
  border: 1px solid var(--medium-gray);
  border-radius: 4px;
}

main {
  font-family: inherit;
  color: var(--medium-gray);
}

main .description {
  display: inline-block;
  width: 65%;
}

.description h3 {
  font-weight: 400;
  font-size: 20px;
}

.description p {
  font-size: 12px;
  line-height: 18px;
}

main form {
  display: inline-block;
  font-size: 12px;
}

main form ul {
  display: flex;
  flex-direction: column;
}

main form ul li {
  padding-bottom: 20px;
}

main form ul li:first-child {
  padding-top: 20px;
}

main form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 39px;
  font-size: 16px;
}

.personal__info__text input {
  width: 300px;
  height: 30px;
}
 
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  row-gap: 20px;
}

.container .item {
  width: 200px;
}

.item__description {
  font-size: 12px;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
}

.prices {
  font-size: 12px;
}

.price__main {
  font-weight: 700;
  font-size: 16px;
}

#next {
  margin-top: 52px;
  margin-bottom: 128px;
}
